<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\ResourceModel\CustomerRepository">
        <plugin name="Field_Customer_Name" type="Home\CustomerRegistration\Plugin\Model\ResourceModel\CustomerRepository" />
    </type>
    <virtualType name="CustomerLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Home\CustomerRegistration\Logger\CustomerHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Home\CustomerRegistration\Model\Synchronization">
        <arguments>
            <argument name="logger" xsi:type="object">CustomerLogger</argument>
        </arguments>
    </type>
</config>
